.cryptoadventures {
  position: relative;
  display: inline-block;
  animation: fadein 4s forwards;
}
.cacontainer {
  position: relative;
  width: 260px; /* set the width of the container */
  height: 40px; /* set the height of the container */
  margin: 0 auto; /* center the container element horizontally */
  background-color: #eee; /* set the background color of the container */
  padding: 20px; /* add some padding to the container */
  border-radius: 10px;  add some border radius to the container 
  box-shadow: 0 0 24px #ccc; /* add some box shadow to the container */
  display: flex;
  align-items: center;
  justify-content: center;
}

.cacontainer:hover {
  cursor: pointer;
}

.cryptoadventures {
  font-size: 28px;
  letter-spacing: -2px;
}

.cryptoadventures span {
  display: inline-block;
  position: relative;
  opacity: 0;
  animation: fadein 4s forwards;
  margin: 0;

}

.cryptoadventures span:nth-of-type(1) {
  animation-delay: 0s;
}

.cryptoadventures span:nth-of-type(2) {
  animation-delay: 0.2s;
}

.cryptoadventures span:nth-of-type(3) {
  animation-delay: 0.4s;
}

.cryptoadventures span:nth-of-type(4) {
  animation-delay: 0.6s;
}

.cryptoadventures span:nth-of-type(5) {
  animation-delay: 0.8s;
}

.cryptoadventures span:nth-of-type(6) {
  animation-delay: 1s;
}

.cryptoadventures span:nth-of-type(7) {
  animation-delay: 1.2s;
}

.cryptoadventures span:nth-of-type(8) {
  animation-delay: 1.4s;
}

.cryptoadventures span:nth-of-type(9) {
  animation-delay: 1.6s;
}

.cryptoadventures span:nth-of-type(10) {
  animation-delay: 1.8s;
}

.cryptoadventures span:nth-of-type(11) {
  animation-delay: 2s;
}

.cryptoadventures span:nth-of-type(12) {
  animation-delay: 2.2s;
}

.cryptoadventures span:nth-of-type(13) {
  animation-delay: 2.4s;
}

.cryptoadventures span:nth-of-type(14) {
  animation-delay: 2.6s;
}

.cryptoadventures span:nth-of-type(15) {
  animation-delay: 2.8s;
}

.cryptoadventures span:nth-of-type(16) {
  animation-delay: 3s;
}

.cryptoadventures span:nth-of-type(17) {
  animation-delay: 3.2s;
}

.cryptoadventures::before {
  content: "cryptoadventures";
  position: absolute;
  top:0;
  left:0;
  opacity: 0;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}